.successNotification {
  border: solid 2px;
  border-color: green;
  text-align: center;
  color: green;
}

.errorNotification {
  border: solid 2px;
  border-color: red;
  text-align: center;
  color: red;
}
